*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
   color: #fff;
   height: 100px;
   width: 100%;
   border: 2px solid gray;

   

}
.container{
    display: flex;
    align-self: center;
    justify-content: space-evenly;
    max-width: 1200px;
   

}
button{
    height: 30px;
    width: 5%;
    border: 2px solid blue;
    color: blue;
    background-color: white;
}